.title {
  margin: 20px auto;
  display: block;
  text-align: center; }

button {
  display: block;
  margin: 20px 0; }

.testing-buttons {
  width: 400px;
  border-top: 1px solid black;
}

svg {
  margin: 20px auto;
  display: block;
  border: 1px solid black;
  width: 400px; }

.square {
  height: 50px;
  width: 50px;
  /* animation: pulse 4s 1 forwards linear ; */
  transform-origin: 0 0;
  animation: topdown 3s 1 forwards; }

@keyframes topdown {
  0% {
    transform-origin: left top;
    opacity: 0;
    transform: translateY(-400px) translateX(0px); }
  90% {
    transform-origin: left top;
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(0px); }
  95% {
    transform-origin: left top;
    transform: scale(2) translateY(-12.5px) translateX(-12.5px); }
  100% {
    transform-origin: left top;
    transform: scale(1) translateY(0px) translateX(0px); } }

@keyframes pulse {
  0% {
    transform-origin: left top;
    opacity: 0;
    transform: translateY(-400px) translateX(0px); }
  10% {
    transform-origin: left top;
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(0px); }
  45% {
    transform-origin: left top;
    transform: scale(2) translateY(-12.5px) translateX(-12.5px); }
  100% {
    transform-origin: left top;
    transform: scale(1) translateY(0px) translateX(0px); } }
